[submodule "qtbase"]
	path = qtbase
[submodule "qtdeclarative"]
	depends = qtbase
	path = qtdeclarative
[submodule "qttools"]
	depends = qtbase
	recommends = qtdeclarative
	path = qttools
[submodule "qttranslations"]
	depends = qttools
	path = qttranslations
[submodule "qtgraphicaleffects"]
	depends = qtdeclarative
	path = qtgraphicaleffects
[submodule "qtandroidextras"]
	depends = qtbase
	path = qtandroidextras
[submodule "qtquickcontrols2"]
	depends = qtgraphicaleffects
	path = qtquickcontrols2
[submodule "qtcharts"]
	depends = qtbase
	recommends = qtdeclarative
	path = qtcharts
