[Desktop Entry]
Encoding=UTF-8
Name=BitBar
Comment=BitBar P2P Cryptocurrency
Comment[fr]=BitBar, monnaie virtuelle cryptographique pair à pair
Comment[tr]=BitBar, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/bitbar-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/bitbar;
Categories=Office;
