[Desktop Entry]
Encoding=UTF-8
Name=Chaincoin Core
Comment=Connect to the Chaincoin P2P Network
Comment[de]=Verbinde mit dem Chaincoin peer-to-peer Netzwerk
Comment[fr]=Chaincoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Chaincoin, eşten eşe kriptografik sanal para birimi
Exec=chaincoin-qt %u
Terminal=false
Type=Application
Icon=chaincoin128
MimeType=x-scheme-handler/chaincoin;
Categories=Office;Finance;P2P;Network;Qt;
