[Desktop Entry]
Encoding=UTF-8
Name=Darkcoin
Comment=Darkcoin P2P Cryptocurrency
Comment[fr]=Darkcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Darkcoin, eşten eşe kriptografik sanal para birimi
Exec=darkcoin-qt %u
Terminal=false
Type=Application
Icon=darkcoin128
MimeType=x-scheme-handler/darkcoin;
Categories=Office;Finance;
