[Desktop Entry]
Version=1.0
Name=Peercoin Core
Comment=Connect to the Peercoin P2P Network
Comment[de]=Verbinde mit dem Peercoin peer-to-peer Netzwerk
Comment[fr]=Peercoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Peercoin, eşten eşe kriptografik sanal para birimi
Exec=peercoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/peercoin128.png
MimeType=x-scheme-handler/peercoin;
Categories=Office;Finance;
StartupWMClass=Peercoin-qt
