[Desktop Entry]
Encoding=UTF-8
Name=Peercoin
Comment=Desktop allet for Peercoin Cryptocurrency
Comment[de]=Offizieller Client für die Kryptowährung Peercoin
Exec=peercoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/peercoin128.png
MimeType=x-scheme-handler/peercoin;
Categories=Office;Finance;
StartupWMClass=Peercoin-qt
