[Desktop Entry]
Encoding=UTF-8
Name=Peercoin (testnet)
Comment=Core wallet for Peercoin P2P Cryptocurrency (testnet)
Comment[de]=Offizieller Client für die Kryptowährung Peercoin (testnet)
Exec=/usr/bin/peercoin-qt -testnet %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/peercoin-testnet128.png
MimeType=x-scheme-handler/peercoin;
Categories=Application;Network;
