[Desktop Entry]
Encoding=UTF-8
Name=Syscoin
Comment=Syscoin P2P Cryptocurrency
Comment[fr]=Syscoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Syscoin, eşten eşe kriptografik sanal para birimi
Exec=syscoin-qt %u
Terminal=false
Type=Application
Icon=syscoin128
MimeType=x-scheme-handler/syscoin;
Categories=Office;Finance;
