[Desktop Entry]
Version=1.0
Name=Syscoin Core
Comment=Connect to the Syscoin P2P Network
Comment[de]=Verbinde mit dem Syscoin peer-to-peer Netzwerk
Comment[fr]=Syscoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Syscoin, eşten eşe kriptografik sanal para birimi
Exec=syscoin-qt %u
Terminal=false
Type=Application
Icon=syscoin128
MimeType=x-scheme-handler/syscoin;
Categories=Office;Finance;P2P;Network;Qt;
StartupWMClass=Syscoin-qt
