[Unit]
Description=Bitcoin's distributed currency daemon
After=network.target

[Service]
User=bitcoind
Group=bitcoind

Type=forking
PIDFile=/var/lib/bitcoind/bitcoind.pid
ExecStart=/usr/bin/bitcoind -daemon -pid=/var/lib/bitcoind/bitcoind.pid -conf=/etc/bitcoind.conf -datadir=/var/lib/bitcoind

Restart=always
PrivateTmp=true

[Install]
WantedBy=multi-user.target
