*~
*.a
aclocal.m4
aggregation1
AUTHORS
autom4te.cache
bulk1
bulk2
bulk3
bulk4
bulk5
bulk6
bulk-collation
ChangeLog
cluster1
CMakeCache.txt
CMakeFiles
compile
config.*
!config.yml
configure
COPYING
data
depcomp
.deps
.dirstamp
.DS_Store
echo-server
example-command-monitoring
example-command-with-opts
example-create-indexes
example-client
example-pool
example-scram
example-gridfs
example-matcher
example-sdam-monitoring
filter-bsondump
find-and-modify
fam
*.gcda
*.gcno
*.gz
index-source
INSTALL
install-sh
*.la
.libs
libtool
*.lo
ltmain.sh
Makefile
Makefile.in
missing
mongoc-dump
mongoc-ping
mongoc-stat
mongoc-tail
*.o
*.pc
README
repltest1
shardtest1
shardtest2
*.so
*.so.*
stamp-h1
*.swp
tags
test-libmongoc
test-load
test-results.json
test-mock-server
test-mongoc-array
test-mongoc-buffer
test-mongoc-client
test-mongoc-client-pool
test-mongoc-collection
test-mongoc-cursor
test-mongoc-database
test-mongoc-exhaust
test-mongoc-event
test-mongoc-find-and-modify
test-mongoc-gridfs
test-mongoc-gridfs-file-page
test-mongoc-list
test-mongoc-matcher
test-mongoc-queue
test-mongoc-read-prefs
test-mongoc-rpc
test-mongoc-stream
test-mongoc-stream-tls
test-mongoc-uri
test-mongoc-write-concern
test-replica-set
test-replica-set-ssl
test-secondary
test-sharded-cluster
test-x509
# Windows things
*.dir
*.vcxproj*
Debug
x64
*.sdf
*.sln
install_manifest.txt
.vs
doc/html/_images
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
accept_test1.c
cmake_install.cmake
libmongoc-1.0-config-version.cmake
libmongoc-1.0-config.cmake
libmongoc-static-1.0-config-version.cmake
libmongoc-static-1.0-config.cmake
src/snappy-1.1.3/snappy-stubs-public.h
src/zlib-1.2.11/zconf.h
