*.sublime-project
*.sublime-workspace
todo.txt
reset-files.bash

*.tar.gz

*.exe
src/aither
src/aitherd
src/aither-cli
src/aither-tx
src/test/test_aither
src/qt/test/test_aither-qt
src/bench/bench_aither

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
.aither
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Unit-tests
Makefile.test
aither-qt_test
src/test/buildenv.py

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build

#lcov
*.gcno
*.gcda
/*.info
test_aither.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/tests_config.py
qa/pull-tester/cache/*
qa/pull-tester/test.*/*
qa/tmp
cache/
share/BitcoindComparisonTool.jar

!src/leveldb*/Makefile

.cproject
.project
.autotools
/doc/doxygen/

libbitcoinconsensus.pc
src/qt/aither-qt.bash
qa/pull-tester/tests-config.sh

#development symlinks
aither-cli
aitherd
aither-qt
.idea
db-4.8.30.NC*
release
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/m4/lt~obsolete.m4
build-aux/missing
build-aux/test-driver
config.status
configure
db4/
libtool
share/setup.nsi
src/Makefile
src/Makefile.in
src/config/aither-config.h
src/config/aither-config.h.in
src/config/stamp-h1
src/qt/aither.moc
src/qt/bitcoinamountfield.moc
src/qt/forms/ui_addressbookpage.h
src/qt/forms/ui_askpassphrasedialog.h
src/qt/forms/ui_coincontroldialog.h
src/qt/forms/ui_darksendconfig.h
src/qt/forms/ui_debugwindow.h
src/qt/forms/ui_editaddressdialog.h
src/qt/forms/ui_helpmessagedialog.h
src/qt/forms/ui_intro.h
src/qt/forms/ui_masternodelist.h
src/qt/forms/ui_openuridialog.h
src/qt/forms/ui_optionsdialog.h
src/qt/forms/ui_overviewpage.h
src/qt/forms/ui_receivecoinsdialog.h
src/qt/forms/ui_receiverequestdialog.h
src/qt/forms/ui_sendcoinsdialog.h
src/qt/forms/ui_sendcoinsentry.h
src/qt/forms/ui_signverifymessagedialog.h
src/qt/forms/ui_transactiondescdialog.h
src/qt/intro.moc
src/qt/locale/aither_bg.qm
src/qt/locale/aither_de.qm
src/qt/locale/aither_en.qm
src/qt/locale/aither_es.qm
src/qt/locale/aither_fi.qm
src/qt/locale/aither_fr.qm
src/qt/locale/aither_it.qm
src/qt/locale/aither_ja.qm
src/qt/locale/aither_pl.qm
src/qt/locale/aither_pt.qm
src/qt/locale/aither_ru.qm
src/qt/locale/aither_sk.qm
src/qt/locale/aither_sv.qm
src/qt/locale/aither_vi.qm
src/qt/locale/aither_zh_CN.qm
src/qt/locale/aither_zh_TW.qm
src/qt/moc_addressbookpage.cpp
src/qt/moc_addresstablemodel.cpp
src/qt/moc_askpassphrasedialog.cpp
src/qt/moc_bantablemodel.cpp
src/qt/moc_bitcoinaddressvalidator.cpp
src/qt/moc_bitcoinamountfield.cpp
src/qt/moc_bitcoingui.cpp
src/qt/moc_bitcoinunits.cpp
src/qt/moc_clientmodel.cpp
src/qt/moc_coincontroldialog.cpp
src/qt/moc_coincontroltreewidget.cpp
src/qt/moc_csvmodelwriter.cpp
src/qt/moc_darksendconfig.cpp
src/qt/moc_editaddressdialog.cpp
src/qt/moc_guiutil.cpp
src/qt/moc_intro.cpp
src/qt/moc_macdockiconhandler.cpp
src/qt/moc_macnotificationhandler.cpp
src/qt/moc_masternodelist.cpp
src/qt/moc_notificator.cpp
src/qt/moc_openuridialog.cpp
src/qt/moc_optionsdialog.cpp
src/qt/moc_optionsmodel.cpp
src/qt/moc_overviewpage.cpp
src/qt/moc_paymentserver.cpp
src/qt/moc_peertablemodel.cpp
src/qt/moc_qvalidatedlineedit.cpp
src/qt/moc_qvaluecombobox.cpp
src/qt/moc_receivecoinsdialog.cpp
src/qt/moc_receiverequestdialog.cpp
src/qt/moc_recentrequeststablemodel.cpp
src/qt/moc_rpcconsole.cpp
src/qt/moc_sendcoinsdialog.cpp
src/qt/moc_sendcoinsentry.cpp
src/qt/moc_signverifymessagedialog.cpp
src/qt/moc_splashscreen.cpp
src/qt/moc_trafficgraphwidget.cpp
src/qt/moc_transactiondesc.cpp
src/qt/moc_transactiondescdialog.cpp
src/qt/moc_transactionfilterproxy.cpp
src/qt/moc_transactiontablemodel.cpp
src/qt/moc_transactionview.cpp
src/qt/moc_utilitydialog.cpp
src/qt/moc_walletframe.cpp
src/qt/moc_walletmodel.cpp
src/qt/moc_walletview.cpp
src/qt/overviewpage.moc
src/qt/rpcconsole.moc
src/qt/test/moc_compattests.cpp
src/qt/test/moc_paymentservertests.cpp
src/qt/test/moc_uritests.cpp
src/secp256k1/build-aux/compile
src/secp256k1/build-aux/config.guess
src/secp256k1/build-aux/config.sub
src/secp256k1/build-aux/depcomp
src/secp256k1/build-aux/install-sh
src/secp256k1/build-aux/ltmain.sh
src/secp256k1/build-aux/m4/libtool.m4
src/secp256k1/build-aux/m4/ltoptions.m4
src/secp256k1/build-aux/m4/ltsugar.m4
src/secp256k1/build-aux/m4/ltversion.m4
src/secp256k1/build-aux/m4/lt~obsolete.m4
src/secp256k1/build-aux/missing
src/secp256k1/build-aux/test-driver
