<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.63.0.0" targetFramework="native" />
  <package id="boost_atomic-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_bzip2-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_chrono-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_container-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_context-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_coroutine-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_date_time-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_exception-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_fiber-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_filesystem-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_graph-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_iostreams-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_locale-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_log_setup-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_log-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_math_c99f-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_math_c99l-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_math_c99-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_math_tr1f-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_math_tr1l-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_math_tr1-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_prg_exec_monitor-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_program_options-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_python-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_random-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_regex-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_serialization-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_signals-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_system-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_test_exec_monitor-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_thread-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_timer-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_type_erasure-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_unit_test_framework-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_wave-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_wserialization-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_zlib-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="leveldb-vc140" version="1.16.0.5" targetFramework="native" />
  <package id="libevent2-vc140" version="2.1.8" targetFramework="native" />
  <package id="libzmq-vc141" version="4.2.2" targetFramework="native" />
  <package id="miniupnpc-vc140" version="2.0.0.1" targetFramework="native" />
  <package id="openssl-vc141" version="1.1.0" targetFramework="native" />
  <package id="secp256k1-vc141" version="0.1.0.15" targetFramework="native" />
  <package id="zlib.v120.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" targetFramework="native" />
  <package id="zlib.v140.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" targetFramework="native" />
</packages>