bitcoin               ICON    "rc/bitcoin.ico"

#include "wx/msw/wx.rc"

check                 ICON    "rc/check.ico"
send16                BITMAP  "rc/send16.bmp"
send16mask            BITMAP  "rc/send16mask.bmp"
send16masknoshadow    BITMAP  "rc/send16masknoshadow.bmp"
send20                BITMAP  "rc/send20.bmp"
send20mask            BITMAP  "rc/send20mask.bmp"
addressbook16         BITMAP  "rc/addressbook16.bmp"
addressbook16mask     BITMAP  "rc/addressbook16mask.bmp"
addressbook20         BITMAP  "rc/addressbook20.bmp"
addressbook20mask     BITMAP  "rc/addressbook20mask.bmp"
favicon               ICON    "rc/favicon.ico"
