sudo: enabled
language: cpp
before_install:
  # - sudo add-apt-repository -y ppa:deadsnakes/ppa
  - sudo apt-get update
install:
  # - sudo apt-get install python3.6
  # - sudo apt-get install python3.6-dev
  - sudo apt-get install libgmp3-dev
  - sudo apt-get install valgrind
  # - wget https://bootstrap.pypa.io/get-pip.py
  # - sudo python3.6 get-pip.py
script:
  - mkdir build
  - cd build
  - cmake ../
  - cmake --build . -- -j 6
  - ./src/runtest
  - valgrind --leak-check=full --show-leak-kinds=all --errors-for-leak-kinds=all  ./src/runtest
  - cd ../
  # - virtualenv -p python3.6 bls
  # - source bls/bin/activate
  # - pip3 install .
  # - python3.6 ./python-bindings/test.py
compiler:
  - gcc
