
## <summary>policy for bitcoin</summary>


########################################
## <summary>
##	Transition to bitcoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`bitcoin_domtrans',`
	gen_require(`
		type bitcoin_t, bitcoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, bitcoin_exec_t, bitcoin_t)
')


########################################
## <summary>
##	Execute bitcoin server in the bitcoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoin_initrc_domtrans',`
	gen_require(`
		type bitcoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, bitcoin_initrc_exec_t)
')


########################################
## <summary>
##	Search bitcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoin_search_lib',`
	gen_require(`
		type bitcoin_var_lib_t;
	')

	allow $1 bitcoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read bitcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoin_read_lib_files',`
	gen_require(`
		type bitcoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, bitcoin_var_lib_t, bitcoin_var_lib_t)
')

########################################
## <summary>
##	Manage bitcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoin_manage_lib_files',`
	gen_require(`
		type bitcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, bitcoin_var_lib_t, bitcoin_var_lib_t)
')

########################################
## <summary>
##	Manage bitcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoin_manage_lib_dirs',`
	gen_require(`
		type bitcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, bitcoin_var_lib_t, bitcoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a bitcoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`bitcoin_admin',`
	gen_require(`
		type bitcoin_t;
		type bitcoin_initrc_exec_t;
		type bitcoin_var_lib_t;
	')

	allow $1 bitcoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, bitcoin_t)

	bitcoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 bitcoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, bitcoin_var_lib_t)

')

