
## <summary>policy for flow</summary>


########################################
## <summary>
##	Transition to flow.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`flow_domtrans',`
	gen_require(`
		type flow_t, flow_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, flow_exec_t, flow_t)
')


########################################
## <summary>
##	Execute flow server in the flow domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`flow_initrc_domtrans',`
	gen_require(`
		type flow_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, flow_initrc_exec_t)
')


########################################
## <summary>
##	Search flow lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`flow_search_lib',`
	gen_require(`
		type flow_var_lib_t;
	')

	allow $1 flow_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read flow lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`flow_read_lib_files',`
	gen_require(`
		type flow_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, flow_var_lib_t, flow_var_lib_t)
')

########################################
## <summary>
##	Manage flow lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`flow_manage_lib_files',`
	gen_require(`
		type flow_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, flow_var_lib_t, flow_var_lib_t)
')

########################################
## <summary>
##	Manage flow lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`flow_manage_lib_dirs',`
	gen_require(`
		type flow_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, flow_var_lib_t, flow_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an flow environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`flow_admin',`
	gen_require(`
		type flow_t;
		type flow_initrc_exec_t;
		type flow_var_lib_t;
	')

	allow $1 flow_t:process { ptrace signal_perms };
	ps_process_pattern($1, flow_t)

	flow_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 flow_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, flow_var_lib_t)

')

