
## <summary>policy for iop</summary>


########################################
## <summary>
##	Transition to iop.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`iop_domtrans',`
	gen_require(`
		type iop_t, iop_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, iop_exec_t, iop_t)
')


########################################
## <summary>
##	Execute iop server in the iop domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`iop_initrc_domtrans',`
	gen_require(`
		type iop_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, iop_initrc_exec_t)
')


########################################
## <summary>
##	Search iop lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`iop_search_lib',`
	gen_require(`
		type iop_var_lib_t;
	')

	allow $1 iop_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read iop lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`iop_read_lib_files',`
	gen_require(`
		type iop_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, iop_var_lib_t, iop_var_lib_t)
')

########################################
## <summary>
##	Manage iop lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`iop_manage_lib_files',`
	gen_require(`
		type iop_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, iop_var_lib_t, iop_var_lib_t)
')

########################################
## <summary>
##	Manage iop lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`iop_manage_lib_dirs',`
	gen_require(`
		type iop_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, iop_var_lib_t, iop_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a iop environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`iop_admin',`
	gen_require(`
		type iop_t;
		type iop_initrc_exec_t;
		type iop_var_lib_t;
	')

	allow $1 iop_t:process { ptrace signal_perms };
	ps_process_pattern($1, iop_t)

	iop_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 iop_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, iop_var_lib_t)

')

