
## <summary>policy for litecoin</summary>


########################################
## <summary>
##	Transition to litecoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`litecoin_domtrans',`
	gen_require(`
		type litecoin_t, litecoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, litecoin_exec_t, litecoin_t)
')


########################################
## <summary>
##	Execute litecoin server in the litecoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`litecoin_initrc_domtrans',`
	gen_require(`
		type litecoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, litecoin_initrc_exec_t)
')


########################################
## <summary>
##	Search litecoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`litecoin_search_lib',`
	gen_require(`
		type litecoin_var_lib_t;
	')

	allow $1 litecoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read litecoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`litecoin_read_lib_files',`
	gen_require(`
		type litecoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, litecoin_var_lib_t, litecoin_var_lib_t)
')

########################################
## <summary>
##	Manage litecoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`litecoin_manage_lib_files',`
	gen_require(`
		type litecoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, litecoin_var_lib_t, litecoin_var_lib_t)
')

########################################
## <summary>
##	Manage litecoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`litecoin_manage_lib_dirs',`
	gen_require(`
		type litecoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, litecoin_var_lib_t, litecoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an litecoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`litecoin_admin',`
	gen_require(`
		type litecoin_t;
		type litecoin_initrc_exec_t;
		type litecoin_var_lib_t;
	')

	allow $1 litecoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, litecoin_t)

	litecoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 litecoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, litecoin_var_lib_t)

')

