
## <summary>policy for raven</summary>


########################################
## <summary>
##	Transition to raven.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`raven_domtrans',`
	gen_require(`
		type raven_t, raven_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, raven_exec_t, raven_t)
')


########################################
## <summary>
##	Execute raven server in the raven domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`raven_initrc_domtrans',`
	gen_require(`
		type raven_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, raven_initrc_exec_t)
')


########################################
## <summary>
##	Search raven lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`raven_search_lib',`
	gen_require(`
		type raven_var_lib_t;
	')

	allow $1 raven_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read raven lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`raven_read_lib_files',`
	gen_require(`
		type raven_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, raven_var_lib_t, raven_var_lib_t)
')

########################################
## <summary>
##	Manage raven lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`raven_manage_lib_files',`
	gen_require(`
		type raven_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, raven_var_lib_t, raven_var_lib_t)
')

########################################
## <summary>
##	Manage raven lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`raven_manage_lib_dirs',`
	gen_require(`
		type raven_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, raven_var_lib_t, raven_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a raven environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`raven_admin',`
	gen_require(`
		type raven_t;
		type raven_initrc_exec_t;
		type raven_var_lib_t;
	')

	allow $1 raven_t:process { ptrace signal_perms };
	ps_process_pattern($1, raven_t)

	raven_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 raven_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, raven_var_lib_t)

')

