
## <summary>policy for syscoin</summary>


########################################
## <summary>
##	Transition to syscoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`syscoin_domtrans',`
	gen_require(`
		type syscoin_t, syscoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, syscoin_exec_t, syscoin_t)
')


########################################
## <summary>
##	Execute syscoin server in the syscoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`syscoin_initrc_domtrans',`
	gen_require(`
		type syscoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, syscoin_initrc_exec_t)
')


########################################
## <summary>
##	Search syscoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`syscoin_search_lib',`
	gen_require(`
		type syscoin_var_lib_t;
	')

	allow $1 syscoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read syscoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`syscoin_read_lib_files',`
	gen_require(`
		type syscoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, syscoin_var_lib_t, syscoin_var_lib_t)
')

########################################
## <summary>
##	Manage syscoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`syscoin_manage_lib_files',`
	gen_require(`
		type syscoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, syscoin_var_lib_t, syscoin_var_lib_t)
')

########################################
## <summary>
##	Manage syscoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`syscoin_manage_lib_dirs',`
	gen_require(`
		type syscoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, syscoin_var_lib_t, syscoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an syscoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`syscoin_admin',`
	gen_require(`
		type syscoin_t;
		type syscoin_initrc_exec_t;
		type syscoin_var_lib_t;
	')

	allow $1 syscoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, syscoin_t)

	syscoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 syscoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, syscoin_var_lib_t)

')

