# ITCOIN configuration

signet=1

[signet]
signetchallenge = ${BLOCKSCRIPT}

# bitcoin signet network protocol port (for inter-node synchronization)
port=${BITCOIN_PORT}

# JSON-RPC signet port (for example, for bitcoin-cli)
rpcport=${RPC_PORT}

# print logs for the bitcoin protocol events
debug=net

# print logs for the RPC events (from bitcoin-cli)
debug=http
