<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="false"/>
    <pages>
      <namespaces>
        <add namespace="System"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.Globalization"/>
        <add namespace="System.IO"/>
        <add namespace="System.Runtime.Serialization.Formatters.Binary"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Xml"/>
        <add namespace="System.Xml.XPath"/>
      </namespaces>
    </pages>
  </system.web>
</configuration>
