CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
src/bench
src/test
src/MakefilE
src/cmake_install.cmake
src/CMakeFile
build/*
blspy.egg-info
dist
python-impl/__pycache__/

main
.o
obj/
src/*.o
contrib/relic/CTestTestfile.cmake
contrib/relic/bench/CTestTestfile.cmake
contrib/relic/bin
contrib/relic/include/relic_conf.h
contrib/relic/test/CTestTestfile.cmake
contrib/gmp-6.1.2/
contrib/libsodium-1.0.16/

.vscode
blstest
blstest.*
blsbench
blsbench.*

.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.patch
*.a
*.pb.cc
*.pb.h

**/.DS_Store
