
#
# RPC login details
#
host=127.0.0.1
port=9332

rpcuser=myusername
rpcpass=mypass


#
# mining details
#

threads=4

# periodic rate for requesting new work, if solution not found
scantime=60


#
# misc.
#

# not really used right now
logdir=/tmp/pyminer

# set to 1, to enable hashmeter output
hashmeter=0


