# btchdd RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.btchd
host=127.0.0.1

#mainnet default
port=8732

#testnet default
#port=18732

#regtest default
#port=18743

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=313000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=e5bab0d5
genesis=8cec494f7f02ad25b3abf418f7d5647885000e010c34e16c039711e4061497b0
input=/home/example/.btchd/blocks

# testnet
#netmagic=1e12a008
#genesis=b67faee747224b7646d66cd08763f33d72b594da8e884535c2f95904fe3cf8c1
#input=/home/example/.btchd/testnet3/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
