body { margin-left: 3em; }

h2.title { margin-left: -1em;
            font-family: serif;
            font-size: 16pt;
    }

h3.title { font-family: serif;
            font-size: 14pt;
        }

h4.title { font-family: serif;
            font-size: 12pt;
        }

pre.programlisting {
    font-family: monospace;
    width: 45em;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #eae8e9;
}

div.navheader { font-size: 10pt;
                margin-left: -2em;
              }

div.navheader table tr td { font-size: 10pt; }
                
div.navfooter { font-size: 10pt;
                margin-left: -2em;
              }
div.navfooter table tr td { font-size: 10pt; }

span.emphasis { font-style: italic;}

div.appendix div.informaltable { font-size: 9pt; }
div.appendix div.informaltable td  { vertical-align: top; }
div.appendix div.informaltable p  { margin-top: .25em; }
div.appendix div.informaltable p  { margin-bottom: .25em; }


