*~
*.a
aclocal.m4
AUTHORS
autom4te.cache
bcon-col-view
bcon-speed
bson-streaming-reader
bson-metrics
bson-to-json
bson-validate
ChangeLog
CMakeFiles
CMakeCache.txt
compile
config.*
!config.yml
configure
depcomp
.deps
.dirstamp
*.exe
INSTALL
install-sh
json-to-bson
*.la
.libs
libtool
libbson-1.0.so*
*.lo
ltmain.sh
Makefile
Makefile.in
missing
*.o
*.pc
README
stamp-h1
*.swp
test-libbson
test.log
test-results.json
.DS_Store
xcuserdata
tags
.lvimrc
doc/installing.page
doc/version.page
.coverage.lcov
coverage
*.gcda
*.gcno
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
cmake_install.cmake
libbson-1.0-config-version.cmake
libbson-1.0-config.cmake
libbson-static-1.0-config-version.cmake
libbson-static-1.0-config.cmake

