.QFrame#frameDarksend * {
/* qproperty-geometry: rect(0 0 0 0); */
}

WalletFrame {
background-color:#fff;
border-image: url('res/images/drkblue_walletFrame.png') 0 0 0 0 stretch stretch;
border-top:0px solid #000;
margin:0;
padding:0;
}

QStatusBar {
background-color:#fff;
}

.QFrame {
background-color:#fff;
border:0px solid #fff;
}

QMenuBar {
background-color:#fff;
}

QMenuBar::item {
background-color:#fff;
}

QToolBar {
background-color:#3398cc;
border:0px solid #000;
padding:0;
margin:0;
}

QToolBar > QToolButton {
background-color:#3398cc;
border:0px solid #333;
min-height:2.5em;
padding: 0em 1em;
font-weight:bold;
color:#fff;
}

QToolBar > QToolButton:checked {
background-color:#fff;
color:#333;
font-weight:bold;
}

QWidget .QFrame#frame { /* Wallet Balance */

}

QWidget .QFrame#frame > .QLabel {
min-width:175px;
color:#818181;
font-weight:normal;
min-height:30px;
/*background-color:#939393;*/
}

QWidget .QFrame#frame .QLabel#label_5 {
color:#fff;
}

QWidget .QFrame#frame .QLabel#label { /* Available Balance Label */
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:225px;
background-color:#56ABD8;
color:#ffffff;
margin-right:5px;
padding-right:5px;
font-weight:bold;
font-size:14px;
min-height:35px;
}

QWidget .QFrame#frame .QLabel#labelBalance { /* Available Balance */
qproperty-alignment: 'AlignVCenter | AlignLeft';
margin-left:0px;
font-size:20px;
font-weight:bold;
color:#56ABD8;

}

QWidget .QFrame#frame .QLabel#label_3 { /* Pending Balance Label */
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:225px;
background-color:#F8F6F6;
/* color:#ffffff; */
margin-right:5px;
padding-right:5px;
/* font-weight:bold;
font-size:11px; */


}

QWidget .QFrame#frame .QLabel#labelUnconfirmed { /* Pending Balance */
qproperty-alignment: 'AlignVCenter | AlignLeft';
margin-left:1px;

}

QWidget .QFrame#frame .QLabel#labelImmatureText { /* Immature Balance Label */
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:225px;
background-color:#F8F6F6;
/* color:#ffffff; */
margin-right:5px;
padding-right:5px;
/* font-weight:bold;
font-size:11px; */


}

QWidget .QFrame#frame .QLabel#labelImmature { /* Immature Balance */
qproperty-alignment: 'AlignVCenter | AlignLeft';
margin-left:1px;

}

QWidget .QFrame#frame .QLabel#labelTotalText { /* Total Balance Label */
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:225px;
background-color:#F8F6F6;
/* color:#ffffff; */
margin-right:5px;
padding-right:5px;
/* font-weight:bold;
font-size:11px; */

}

QWidget .QFrame#frame .QLabel#labelTotal { /* Total Balance */
qproperty-alignment: 'AlignVCenter | AlignLeft';
margin-left:1px;

}

/* DARKSEND WIDGET */

QWidget .QFrame#frameDarksend { /* Darksend Widget */
background-color:transparent;
}

QWidget .QFrame#frameDarksend > .QLabel {
min-width:80px;
color:#818181;
font-weight:normal;
}

QWidget .QFrame#frameDarksend .QLabel#label_2 { /* Darksend Header */
qproperty-geometry: rect(10 10 431 135);
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:220px;
color:#3398cc;
margin-right:5px;
padding-right:5px;
font-weight:bold;
font-size:16px;
min-height:22px;
}


QWidget .QFrame#frameDarksend #formLayoutWidget {
qproperty-geometry: rect(10 55 451 175);
/* background-color:#939393; */
}

QWidget .QFrame#frameDarksend #formLayoutWidget > .QLabel {
min-width:175px;
color:#818181;
font-weight:normal;
/* background-color:#939393; */
}


QWidget .QFrame#frameDarksend #formLayoutWidget .QLabel#label_6 { /* Darksend Status Label */
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:220px;

}

QWidget .QFrame#frameDarksend #formLayoutWidget .QLabel#darksendEnabled { /* Darksend Status */

} 

QWidget .QFrame#frameDarksend #formLayoutWidget .QLabel#label_7 { /* Darksend Completion Label */
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:220px;

}

QWidget .QFrame#frameDarksend #formLayoutWidget .QLabel#darksendProgress { /* Darksend Completion */


}

QWidget .QFrame#frameDarksend #formLayoutWidget .QLabel#labelAnonymizedText { /* Darksend Balance Label */
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:220px;


}

QWidget .QFrame#frameDarksend #formLayoutWidget .QLabel#labelAnonymized { /* Darksend Balance */

}

QWidget .QFrame#frameDarksend #formLayoutWidget .QLabel#label_8 { /* Darksend Amount and Rounds Label */
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:220px;

}

QWidget .QFrame#frameDarksend #formLayoutWidget .QLabel#labelAmountRounds { /* Darksend Amount and Rounds */

}

QWidget .QFrame#frameDarksend #formLayoutWidget .QLabel#label_9 { /* Darksend Submitted Denom Label */
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:220px;

}

QWidget .QFrame#frameDarksend #formLayoutWidget .QLabel#labelSubmittedDenom { /* Darksend Submitted Denom */

}

QWidget .QFrame#frameDarksend .QLabel#darksendStatus { /* Darksend Status Notifications */
qproperty-alignment: 'AlignVCenter | AlignCenter';
qproperty-geometry: rect(95 205 366 61);
font-size:12px;
}


/* DARKSEND BUTTONS */

QWidget .QFrame#frameDarksend .QPushButton { /* Darksend Buttons - General Attributes */
border:0px solid #ffffff;
font-weight:bold;
}

QWidget .QFrame#frameDarksend QPushButton:focus {
border:none;
outline:none;
}

QWidget .QFrame#frameDarksend .QPushButton#runAutoDenom {
qproperty-geometry: rect(391 -25 1 1);
}

QWidget .QFrame#frameDarksend .QPushButton#toggleDarksend { /* Start Darksend Mixing */
background-color:#3398cc;
qproperty-geometry: rect(150 275 260 45);
border:1px solid #ffffff;
font-size:16px;
color:#fff;
}

QWidget .QFrame#frameDarksend .QPushButton#toggleDarksend:hover {
background-color:#46aade;
}


QWidget .QFrame#frameDarksend .QPushButton#darksendAuto { /* Try Mix Button */
background-color:#bfdff5;;
qproperty-geometry: rect(155 325 120 25);
border:1px solid #ffffff;
color:#616161;
font-size:10px;
}

QWidget .QFrame#frameDarksend .QPushButton#darksendAuto:hover {
background-color:#aed8f4;
}


QWidget .QFrame#frameDarksend .QPushButton#darksendReset { /* Reset Button */
background-color:#bfdff5;
qproperty-geometry: rect(285 325 120 25);
border:1px solid #ffffff;
color:#616161;
font-size:10px;
}

QWidget .QFrame#frameDarksend .QPushButton#darksendReset:hover {
background-color:#aed8f4;
}




/* RECENT TRANSACTIONS */

QWidget .QFrame#frame_2 { /* Transactions Widget */
margin-right:20px;
margin-left:20px;
background-image: url('res/images/darkcoin_logo_horizontal.png');
background-repeat:none;
}

QWidget .QFrame#frame_2 .QLabel#label_4 { /* Recent Transactions Label */
min-width:260px;
/* qproperty-alignment: 'AlignVCenter | AlignCenter'; */
color:#3899cc;
margin-right:5px;
padding-right:5px;
font-weight:bold;
font-size:16px;
min-height:24px;
/* margin-top:205px;*/
/* margin-top:158px; */
margin-top:123px;
}

QWidget .QFrame#frame_2 QListView { /* Transaction List */
font-weight:normal;
font-size:12px;
color:#818181;
max-width:330px;
margin-left:0px; /* CSS Voodoo - set to -70px to hide the ugly ass icons */

}


/* SEND DIALOG BOX */

QDialog#SendCoinsDialog { /* Widget Background -- set to white to block out WalletFrame background */
background-color:#fff;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl { /* Coin Control Section */

}

QDialog#SendCoinsDialog .QFrame#frameCoinControl > .QLabel { /* Default Font Color and  Size */
color:#818181;
font-weight:normal;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QLabel {

}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QPushButton { /* Coin Control Buttons */
border:0px solid #ffffff;
font-weight:bold;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QPushButton:focus {
border:none;
outline:none;
}


QDialog#SendCoinsDialog .QFrame#frameCoinControl .QPushButton#pushButtonCoinControl { /* Coin Control Inputs Button */
background-color:#3398cc;
border:1px solid #ffffff;
color:#ffffff;
font-size:12px;
padding-left:10px;
padding-right:10px;
padding-top:5px;
padding-bottom:5px;
min-height:25px;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QPushButton#pushButtonCoinControl:hover {
background-color:#46aade;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QLabel#labelCoinControlFeatures { /* Coin Control Header */
color:#3398cc;
font-weight:bold;
font-size:14px;

}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QWidget#widgetCoinControl { /* Coin Control Inputs */

}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QWidget#widgetCoinControl > .QLabel { /* Coin Control Inputs Labels */
font-size:10px;
color:#818181;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QCheckBox#checkBoxCoinControlChange { /* Custom Change Label */
color:#818181;
background-color:transparent;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QCheckBox#checkBoxCoinControlChange:hover {
background-color:transparent;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QValidatedLineEdit#lineEditCoinControlChange { /* Custom Change Address */
font-size:11px;
padding:3px;
border: 1px solid #82C3E6;
outline:0;
min-height:25px;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QValidatedLineEdit#lineEditCoinControlChange:disabled {
background-color:#f2f2f2;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QLabel#labelCoinControlChangeLabel { /* Custom Change Address Validation Label */
color:#818181;
font-weight:normal;
qproperty-margin:-6;
qproperty-padding:0;
margin-right:112px;
}

QDialog#SendCoinsDialog .QScrollArea#scrollArea { /* Send To Container */
border:0px solid #ffffff;
}

QDialog#SendCoinsDialog .QScrollArea#scrollArea .QWidget#scrollAreaWidgetContents { /* Send To Widget */
background-color:#ffffff;
}

QDialog#SendCoinsDialog .QPushButton { /* General Button Attributes */
border:0px solid #ffffff;
font-weight:bold;
}

QDialog#SendCoinsDialog .QPushButton:focus {
border:none;
outline:none;
}


QDialog#SendCoinsDialog .QPushButton#sendButton { /* Send Button */
background-color:#3398cc;
border:1px solid #ffffff;
color:#ffffff;
font-size:12px;
padding-left:10px;
padding-right:10px;
padding-top:5px;
padding-bottom:5px;
}

QDialog#SendCoinsDialog .QPushButton#sendButton:hover {
background-color:#46aade;
}

QDialog#SendCoinsDialog .QPushButton#clearButton { /* Send Button */
/* background-color:#bfdff5; */
border:1px solid #ffffff;
color:#616161;
font-size:12px;
padding-left:10px;
padding-right:10px;
padding-top:5px;
padding-bottom:5px;
}

QDialog#SendCoinsDialog .QPushButton#addButton { /* Send Button */
/* background-color:#bfdff5; */
border:1px solid #ffffff;
color:#616161;
font-size:12px;
padding-left:10px;
padding-right:10px;
padding-top:5px;
padding-bottom:5px;
}

QDialog#SendCoinsDialog .QCheckBox#checkUseDarksend { /* Darksend Checkbox */
color:#818181;
background-color:transparent;
}

QDialog#SendCoinsDialog .QCheckBox#checkUseDarksend:hover {
background-color:transparent;
}

QDialog#SendCoinsDialog .QCheckBox#checkInstantX { /* InstantX Checkbox */
color:#818181;
background-color:transparent;
}

QDialog#SendCoinsDialog .QCheckBox#checkInstantX:hover {
background-color:transparent;
}

QDialog#SendCoinsDialog .QLabel#label {
margin-left:15px;
color:#818181;
}

QDialog#SendCoinsDialog .QLabel#labelBalance {
color:#818181;
}


/* SEND COINS ENTRY */

QStackedWidget#SendCoinsEntry .QFrame#SendCoins > .QLabel { /* Send Coin Entry Labels */
background-color:#56ABD8;
min-width:102px;
color:#fff;
min-height:25px;
margin-right:5px;
padding-right:5px;
font-weight:bold;
font-size:11px;
}

QStackedWidget#SendCoinsEntry .QFrame#SendCoins .QLabel#amountLabel {
background-color:#6a6a6a;
}


QStackedWidget#SendCoinsEntry .QValidatedLineEdit#payTo { /* Pay To Input Field */
border: 1px solid #82C3E6;
font-size:11px;
min-height:25px;
outline:0;
padding:3px;
}

QStackedWidget#SendCoinsEntry .QToolButton { /* General Settings for Pay To Icons */
background-color:transparent;
padding-left:5px;
padding-right:5px;
border: 0;
outline: 0;
}

QStackedWidget#SendCoinsEntry .QToolButton#addressBookButton { /* Address Book Button */
qproperty-icon: url("res/icons/drkblue_address-book.png");
padding-left:10px;
}

QStackedWidget#SendCoinsEntry .QToolButton#pasteButton { /* Paste Button */
qproperty-icon: url("res/icons/drkblue_editpaste.png");
}

QStackedWidget#SendCoinsEntry .QToolButton#deleteButton { /* Remove Button */
qproperty-icon: url("res/icons/drkblue_remove.png");
}

QStackedWidget#SendCoinsEntry .QLineEdit#addAsLabel { /* Pay To Input Field */
font-size:12px;
padding:3px;
border: 1px solid #82C3E6;
outline:0;
min-height:25px;
}

QStackedWidget#SendCoinsEntry .QLineEdit#addAsLabel:!focus {
font-size:12px;
}

BitcoinAmountField * {
outline:0;
min-height:25px;
font-size:12px;
color:#6a6a6a;
padding:3px;
}

/* Coin Control Popup */

QDialog#CoinControlDialog { /* Coin Control Dialog Window */
background-color:#ffffff;
padding-top:15px;
}

QDialog#CoinControlDialog .QFrame#frame .QPushButton#pushButtonSelectAll { /* (un)select all button */
background-color:#3398cc;
border:1px solid #ffffff;
color:#ffffff;
font-size:12px;
padding-left:10px;
padding-right:10px;
padding-top:5px;
padding-bottom:5px;
min-height:25px;
font-weight:bold;
}

QDialog#CoinControlDialog .QFrame#frame .QPushButton#pushButtonSelectAll:hover {
background-color:#46aade;
}

QDialog#CoinControlDialog .QFrame#frame .QPushButton#pushButtonSelectAll:focus {
border:none;
outline:none;
}
