PROJECT_NAME     = "immer"
OUTPUT_DIRECTORY = _doxygen
GENERATE_LATEX   = NO
GENERATE_MAN     = NO
GENERATE_RTF     = NO
GENERATE_HTML    = NO
GENERATE_XML     = YES
INPUT            = \
                 ../immer \
                 ../immer/heap \
                 ../immer/refcount \
                 ../immer/transience
INCLUDE_PATH     = ..
QUIET            = YES

JAVADOC_AUTOBRIEF = YES
ENABLE_PREPROCESSING = YES
MARKDOWN_SUPPORT = YES
MACRO_EXPANSION = YES

ALIASES  = "rst=\verbatim embed:rst:leading-asterisk\n"
ALIASES += "endrst=\n\endverbatim"
ALIASES += "rst{1}=\rst\1\endrst"
