<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Bitcoin</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>bitcoin</string>
	<key>CFBundleIdentifier</key>
	<string>org.bitcoin.bitcoin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Bitcoin</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.3.24</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>324</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.5</string>
	<key>CFBundleIconFile</key>
	<string>BitcoinAppIcon.icns</string>
	<key>LSMultipleInstancesProhibited</key>
	<true/>
</dict>
</plist>
