<?xml version='1.0' encoding='utf-8'?>
<manifest package="org.bitcoincore.qt" xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.0" android:versionCode="1" android:installLocation="auto">
    <uses-sdk android:targetSdkVersion="24"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <supports-screens android:largeScreens="true" android:normalScreens="true" android:anyDensity="true" android:smallScreens="true"/>

    <application android:hardwareAccelerated="true" android:name="org.qtproject.qt5.android.bindings.QtApplication" android:label="Bitcoin Core">
        <activity android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|layoutDirection|locale|fontScale|keyboard|keyboardHidden|navigation|mcc|mnc|density"
                  android:name="org.bitcoincore.qt.BitcoinQtActivity"
                  android:label="Bitcoin Core"
                  android:icon="@drawable/bitcoin"
                  android:screenOrientation="unspecified"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data android:name="android.app.arguments" android:value="-testnet"/>
            <meta-data android:name="android.app.lib_name" android:value="bitcoin-qt"/>
            <meta-data android:name="android.app.repository" android:value="default"/>
            <meta-data android:name="android.app.bundle_local_qt_libs" android:value="1"/>
            <meta-data android:name="android.app.use_local_qt_libs" android:value="1"/>
            <meta-data android:name="android.app.libs_prefix" android:value="/data/local/tmp/qt/"/>
            <meta-data android:name="android.app.system_libs_prefix" android:value="/system/lib/"/>
            <meta-data android:name="android.app.background_running" android:value="true"/>
            <meta-data android:name="android.app.auto_screen_scale_factor" android:value="true"/>
            <meta-data android:name="android.app.extract_android_style" android:value="default"/>
    </activity>

    </application>
</manifest>
