bitcoin               ICON    "pixmaps/bitcoin.ico"

#include "wx/msw/wx.rc"

check                 ICON    "pixmaps/check.ico"
send16                BITMAP  "pixmaps/send16.bmp"
send16mask            BITMAP  "pixmaps/send16mask.bmp"
send16masknoshadow    BITMAP  "pixmaps/send16masknoshadow.bmp"
send20                BITMAP  "pixmaps/send20.bmp"
send20mask            BITMAP  "pixmaps/send20mask.bmp"
addressbook16         BITMAP  "pixmaps/addressbook16.bmp"
addressbook16mask     BITMAP  "pixmaps/addressbook16mask.bmp"
addressbook20         BITMAP  "pixmaps/addressbook20.bmp"
addressbook20mask     BITMAP  "pixmaps/addressbook20mask.bmp"
favicon               ICON    "pixmaps/favicon.ico"
