bazel-*
build/
build-*/
reports/
doc/_build
doc/_doxygen
bazel-*

tools/travis/ssh-key
tools/clojure/target/
tools/scala/target/
tools/scala/project/target/

extra/js/out
extra/js/boost

__pycache__

.gdb_history

.cache
tools/clojure/.lein*

*.pyc

/result*

.build
.swiftpm
