IDI_ICON1 ICON DISCARDABLE "icons/primecoin.ico"
IDI_ICON2 ICON DISCARDABLE "icons/primecoin-testnet.ico"

#include <windows.h>             // needed for VERSIONINFO
#include "../../clientversion.h" // holds the needed client version information

#define VER_PRODUCTVERSION     PRIMECOIN_VERSION_MAJOR,PRIMECOIN_VERSION_MINOR,PRIMECOIN_VERSION_REVISION,PRIMECOIN_VERSION_BUILD
#define VER_PRODUCTVERSION_STR STRINGIZE(PRIMECOIN_VERSION_MAJOR) "." STRINGIZE(PRIMECOIN_VERSION_MINOR) "." STRINGIZE(PRIMECOIN_VERSION_REVISION) "." STRINGIZE(PRIMECOIN_VERSION_BUILD)
#define VER_FILEVERSION        VER_PRODUCTVERSION
#define VER_FILEVERSION_STR    VER_PRODUCTVERSION_STR
#define COPYRIGHT_STR          "2013-" STRINGIZE(COPYRIGHT_YEAR) " The Primecoin developers"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4" // U.S. English - multilingual (hex)
        BEGIN
            VALUE "CompanyName",        "Primecoin"
            VALUE "FileDescription",    "Primecoin-Qt (OSS GUI client for Primecoin)"
            VALUE "FileVersion",        VER_FILEVERSION_STR
            VALUE "InternalName",       "primecoin-qt"
            VALUE "LegalCopyright",     COPYRIGHT_STR
            VALUE "LegalTrademarks1",   "Distributed under conditional MIT/X11 software license, see the accompanying file COPYING."
            VALUE "OriginalFilename",   "primecoin-qt.exe"
            VALUE "ProductName",        "Primecoin-Qt"
            VALUE "ProductVersion",     VER_PRODUCTVERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1252 // language neutral - multilingual (decimal)
    END
END
